@model Category
<h> Update Category </h>
<br>
<form method="post">
    <div class="form-group">
        <input asp-for="@Model.CategoryId" type="text" class="form-control" hidden>
        <label asp-for="@Model.CategoryName">Category Name</label>
        <input asp-for="@Model.CategoryName" type="text" readonly class="form-control-plaintext" >
        <label asp-for="@Model.Description">Description</label>
        <input asp-for="@Model.Description"type="text" readonly class="form-control-plaintext">
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>